<h3 mat-dialog-title>Stehplätze - {{standingAreaRenderDTO.name}}</h3>
<mat-dialog-content>
  <div layout="column" layout-align="center center">
    <div class="available">
      Stehplätze verfügbar: {{availablePlaces}}<br>
      Preis/Stehplatz: € {{standingAreaRenderDTO.price | number:'1.2-2'}}
    </div>
    <div class="selection">
      <mat-label class="select-label">Auswählen:</mat-label>
      <button type="button" mat-icon-button (click)="remove()">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      {{standingAreaRenderDTO.selected}}
      <button type="button" mat-icon-button (click)="add()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="close()" autofocus>OK</button>
</mat-dialog-actions>
