<img width="100%" height="150px" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
    AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
        9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
<div class="details mat-elevation-z4" *ngIf="news">
  <div class="results">
    <h1 class="mat-title">{{ news.title }}</h1>
    <button routerLink="/news" type="button" class="btn btn-secondary btn-sm mr-4">Zur&uuml;ck</button>
  </div>
  <div class="facts">
    <h3 class="mat-card-subtitle"><span><mat-icon>calendar_today</mat-icon>am {{convertToString(news.publishedAt)}}</span></h3>
    <h3 class="mat-card-subtitle"><span><mat-icon>perm_identity</mat-icon>von {{news.author}}</span></h3>
  </div>
  <mat-divider></mat-divider>
  <p class="mat-body-2">{{ news.summary }}</p>
  <mat-divider></mat-divider>
  <p class="mat-body-2">{{ news.content }}</p>
</div>
<mat-spinner *ngIf="!news && !errorMsg"></mat-spinner>
<div class="error-msg" *ngIf="errorMsg">
  <h1>{{ errorMsg }}</h1>
</div>
