<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand ml-lg-5" href="">SEPM Group Phase</a>
  <div *ngIf="authService.isLoggedIn() && authService.getUserRole()==='ADMIN'" class="navbar-brand admin-nav-item">
    --ADMIN--
  </div>
  <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/location" routerLinkActive="active">Orte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Künstler</a>
      </li>

    </ul>

    <ul class="navbar-nav mr-5">
      <a class="nav-link admin-nav-item" *ngIf="isAdminLoggedIn()" routerLink="/admin/changePassword">
        Passwort ändern
      </a>
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/register">Registrieren</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
