<form>
  <mat-form-field>
    <input matInput type="search" placeholder="Veranstaltungen" aria-label="Search"/>
  </mat-form-field>
  <mat-form-field>
    <mat-select class="form-control form-control-sm w-10">
      <mat-option *ngFor="let categories of eventCategories">{{categories}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-card *ngFor="let performance of performances">
  <mat-card-title>{{performance.event.title}}</mat-card-title>
  <mat-card-content>
    <p><mat-icon>calendar_today</mat-icon>{{performance.event.duration}} minuten</p>
    <p><mat-icon>add_location</mat-icon> {{performance.date}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button [routerLink]="['/events',performance.event.id]"><mat-icon>info</mat-icon>DETAILS</button>
  </mat-card-actions>
</mat-card>
