.add-performance-button {
  margin-top: 10px;
}

.mat-column-edit {
  flex: 0 0 10%;
  align-items: center;
  justify-content: center;
}
.mat-column-delete {
  flex: 0 0 10%;
  align-items: center;
  justify-content: center;
}
