.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.delete-button {
  align-items: flex-end;
}

.mat-tab-content {
  padding: 5px
}
.price-input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
