<tl-error-message></tl-error-message>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formPasswordChange"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">ADMIN: Passwort ändern</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">

            <div class="form-group">
              <label for="userId">TODO: Input durch Usersuche + Auswahl ersetzen</label>
              <input type="number" name="userId" formControlName="userId" class="form-control" id="userId"
                     aria-describedby="usernameHelp" placeholder="userId">
              <div *ngIf="submitted && passwordForm.get('userId').errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordForm.get('userId').errors.required">
                  Die User ID ist ein Pflichtfeld!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Passwort</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Passwort">
              <div *ngIf="submitted && passwordForm.get('password').errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordForm.get('password').errors.required">
                  Das Passwort ist ein Pflichtfeld!
                </small>
                <small class="form-text text-warning" *ngIf="passwordForm.get('password').errors.minlength">
                  Das Passwort muss mindestens 8 Zeichen lang sein!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="passwordRepeat">Passwort wiederholen</label>
              <input type="password" name="passwordRepeat" formControlName="passwordRepeat" class="form-control"
                     id="passwordRepeat" placeholder="Passwort wiederholen">
              <div *ngIf="submitted && passwordForm.get('passwordRepeat').errors" class="error">
                <small class="form-text text-warning"
                       *ngIf="passwordForm.get('passwordRepeat').errors.required">
                  Passwort wiederholen ist ein Pflichtfeld!
                </small>
                <small class="form-text text-warning"
                       *ngIf="passwordForm.get('passwordRepeat').errors.minlength">
                  Passwort wiederholen muss mindestens 8 Zeichen lang sein!
                </small>
                <small class="form-text text-warning"
                       *ngIf="passwordForm.get('passwordRepeat').errors.mustMatch">
                  Passwort wiederholen muss mit dem Passwort übereinstimmen!
                </small>
              </div>
            </div>

            <button type="submit" id="submit-btn" class="btn btn-success float-right">Passwort ändern</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
