<div class="mat-elevation-z4 main-content">
  <h1>Ticketübersicht</h1>
  <h2>Freie Tickets</h2>
  <mat-card *ngFor="let ticket of tickets.freeTickets">
    <mat-card-title >{{ticket.id}}</mat-card-title>
    <mat-card-content>
      <span *ngIf="ticket.reserved">reserviert</span>
    </mat-card-content>
  </mat-card>

  <h2>Sitzplätze</h2>
  <mat-card  *ngFor="let ticket of tickets.seatedTickets">
    <mat-card-title >{{ticket.id}}</mat-card-title>
    <mat-card-content>Reihe: {{ticket.seat.x}} Platz: {{ticket.seat.y}}<br>
      <span *ngIf="ticket.reserved">reserviert</span>
    </mat-card-content>
  </mat-card>

</div>
