<div class="mat-elevation-z4 main-content">
  <h1 class="mat-title">Meine Bestellungen</h1>
  <mat-divider></mat-divider>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle (click)="reserved = false" [checked]="true">Gekauft</mat-button-toggle>
    <mat-button-toggle (click)="reserved = true">Reserviert</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-card *ngFor="let booking of filteredBookings">
    <mat-card-title >{{booking.performance.event.title}}</mat-card-title>
    <mat-card-subtitle><mat-icon>access_time</mat-icon>Gekauft <tl-timestamp [timestamp]="booking.performance.dateTime"></tl-timestamp></mat-card-subtitle>
    <mat-card-subtitle><mat-icon>location_on</mat-icon>{{ booking.performance.location.description }}</mat-card-subtitle>
    <mat-card-subtitle class="canceled" *ngIf="booking.canceled">[storniert]</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngIf="booking.fixedSeats.length > 0">Sitzplätze: {{ booking.fixedSeats.length }}</mat-list-item>
        <mat-list-item *ngIf="booking.freeSeats.length > 0">Stehplätze: {{ sumStanding(booking.freeSeats) }}</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="!booking.canceled; else canceled">
      <button mat-button color="warn" (click)="cancelBooking(booking)">Stornieren</button>
      <button mat-button *ngIf="!booking.reservation" (click)="downloadTicket(booking)">Ticket Download</button>
      <button mat-button *ngIf="booking.reservation" color="primary">Ticket Kaufen</button>
      <button mat-button *ngIf="!booking.reservation" (click)="downloadInvoice(booking.id)">Rechnung Download</button>
    </mat-card-actions>
    <ng-template #canceled>
      <mat-card-actions>
        <button mat-button *ngIf="!booking.reservation" (click)="downloadInvoice(booking.id)">Stornorechnung Download</button>
      </mat-card-actions>
    </ng-template>

  </mat-card>

</div>
