.button-footer {
  display: flex;
  justify-content: flex-end;
}
.title-input {
  width: 100%;
}
.category-input {
  width: 60%;
}
.description-input {
  width: 100%;
}
.duration-input {
  margin-left: 5%;
  width: 35%;
}
