<div class="mat-elevation-z4 main-content">

  <h1 class="mat-title">Willkommen bei Ticketline!</h1>
  <p>Kaufe bequem Tickets für deine Lieblingsveranstaltungen in deiner Nähe.</p>
  <p>Finde passende Veranstaltungen für Konzerte, Oper, Literatur, Wellness oder Abenteuer. Siehe hier die Top 10 pro Kategorie an!</p>

  <button mat-raised-button color="primary" routerLink="/events/top">Top 10 Veranstaltungen</button>

  <div class="img-container">
    <img class="img" src="../../../assets/concert.png" alt="Ticketline" />
  </div>
</div>
