.jumbotron {
  background: none
}

.img {
  width: 400px;
  position: absolute;
  top: -220px;
  right: 0px;
}

.img-container {
  text-align: right;
  position: relative;
}

h1 {
  font: 400 48px Roboto, "Helvetica Neue", sans-serif !important;
  margin: 32px 0 32px !important;
}

p {
  margin: 0 0 40px;
  color: gray;
  width: 500px;

}

@media only screen and (max-width: 1200px) {
  .img {
    position: initial;
  }
}
