<div class="mat-elevation-z4 main-content">

  <h1>Ort hinzufügen</h1>

  <form [formGroup]="locationForm" (ngSubmit)="createLocation()">
    <div class="formCreate">

      <mat-form-field appearance="fill">
        <mat-label for="description">Bezeichnung</mat-label>
        <input matInput type="text" name="description" formControlName="description" placeholder="Bezeichnung">
        <mat-error *ngIf="submitted && locationForm.get('description').errors" class="error">
          <div *ngIf="locationForm.get('description').errors.required">
            Die Bezeichnung ist ein Pflichtfeld!
          </div>
        </mat-error>
      </mat-form-field>

      <div class="formCreateGroup" formGroupName="address">
        <mat-form-field appearance="fill">
          <mat-label for="street">Straße</mat-label>
          <input matInput type="text" name="street" formControlName="street" placeholder="Straße">
          <mat-error *ngIf="submitted && locationForm.get('address.street').errors" class="error">
            <div class=*ngIf="locationForm.get('address.street').errors.required">
              Die Straße ist ein Pflichtfeld!
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="housenr">Hausnummer</mat-label>
          <input matInput type="text" name="housenr" formControlName="housenr" placeholder="Hausnummer">
          <mat-error *ngIf="submitted && locationForm.get('address.housenr').errors" class="error">
            <div *ngIf="locationForm.get('address.housenr').errors.required">
              Die Hausnummer ist ein Pflichtfeld!
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="postalcode">PLZ</mat-label>
          <input matInput type="text" name="postalcode" formControlName="postalcode" placeholder="PLZ">
          <mat-error *ngIf="submitted && locationForm.get('address.postalcode').errors" class="error">
            <div *ngIf="locationForm.get('address.postalcode').errors.required">
              Die PLZ ist ein Pflichtfeld!
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="city">Stadt</mat-label>
          <input matInput type="text" name="city" formControlName="city" placeholder="Stadt">
          <mat-error *ngIf="submitted && locationForm.get('address.city').errors" class="error">
            <div *ngIf="locationForm.get('address.city').errors.required">
              Stadt ist ein Pflichtfeld!
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="country">Land</mat-label>
          <input matInput type="text" name="country" formControlName="country" placeholder="Land">
          <mat-error *ngIf="submitted && locationForm.get('address.country').errors" class="error">
            <div *ngIf="locationForm.get('address.country').errors.required">
              Das Land ist ein Pflichtfeld!
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <tl-seatplanner [width]="500" [height]="500">

    </tl-seatplanner>

    <button mat-raised-button type="submit" color="primary">Speichern</button>
  </form>
</div>
