<div class="mat-elevation-z4 main-content">

  <h1>News hinzuf&uuml;gen</h1>

  <tl-error-message></tl-error-message>

  <form [formGroup]="newsForm" (ngSubmit)="createNews()">
    <div class="formCreate">

      <mat-form-field appearance="fill">
        <mat-label for="title">Titel</mat-label>
        <input matInput name="title" formControlName="title" id="title" placeholder="Titel"
               [errorStateMatcher]="errorMatcher">
        <mat-error *ngIf="submitted && newsForm.get('title').errors" class="error">
          <div *ngIf="newsForm.get('title').errors.required">
            Der Titel ist ein Pflichtfeld!
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="summary">Kurzfassung</mat-label>
        <textarea matInput rows="2" cols="50" name="summary" formControlName="summary"
                  id="summary" placeholder="Kurzfassung" [errorStateMatcher]="errorMatcher"></textarea>
        <mat-error *ngIf="submitted && newsForm.get('summary').errors" class="error">
          <div *ngIf="newsForm.get('summary').errors.required">
            Die Kurzfassung ist ein Pflichtfeld!
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="content">Content</mat-label>
        <textarea matInput rows="5" cols="50" name="content" formControlName="content"
                  id="content" placeholder="Content" [errorStateMatcher]="errorMatcher"></textarea>
        <mat-error *ngIf="submitted && newsForm.get('content').errors" class="error">
          <div *ngIf="newsForm.get('content').errors.required">
            Der Content ist ein Pflichtfeld!
          </div>
        </mat-error>
      </mat-form-field>

      <div class="form-group">
        <input type="file" required accept="image/png, image/jpeg"
               class="form-control" name="image" id="image"
               (change)="onUploadChange($event)" #pictureFile>
      </div>

      <mat-form-field appearance="fill">
        <mat-label for="author">Autor</mat-label>
        <input matInput type="text" name="author" formControlName="author"
               id="author" placeholder="Author">
      </mat-form-field>

    </div>

    <button routerLink="/news" type="button" mat-raised-button color="warn" class="float-left">Abbrechen</button>
    <div class="float-right buttons">
      <button type="button" (click)="submitAndRedirect()" mat-raised-button>Speichern und zurück</button>
      <button mat-raised-button type="submit" color="primary">Speichern</button>
    </div>
  </form>
</div>
