<h1 mat-dialog-title>Künstler erstellen</h1>
<tl-error-message></tl-error-message>
<form [formGroup]="artistForm" (ngSubmit)="createArtist()">
  <mat-dialog-content>
    <mat-form-field  appearance="fill">
      <mat-label>Vorname</mat-label>
      <input matInput name="firstname" formControlName="firstname">
      <mat-error *ngIf="artistForm.get('firstname').errors" class="error">
        <div *ngIf="artistForm.get('firstname').errors.required">
          Vorname ist ein Pflichtfeld!
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Nachname</mat-label>
      <input matInput name="lastname" formControlName="lastname">
      <mat-error *ngIf="artistForm.get('lastname').errors" class="error">
        <div *ngIf="artistForm.get('lastname').errors.required">
          Nachname ist ein Pflichtfeld!
        </div>
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button type="submit" mat-raised-button color="primary">Erstellen</button>
  </mat-dialog-actions>
</form>
