<div class="details mat-elevation-z4" *ngIf="event">
  <h1 class="mat-title">{{ event.title }}</h1>
  <div class="facts">
    <h3 class="mat-card-subtitle"><span><mat-icon [inline]="true">av_timer</mat-icon>
      {{ event.duration }} Minuten</span></h3>
    <h3 class="mat-card-subtitle"><span><mat-icon [inline]="true">list</mat-icon>
      {{ event.category }}</span></h3>
  </div>
  <mat-divider></mat-divider>
  <p class="mat-body-2">{{ event.description }}</p>

  <mat-divider></mat-divider>
  <h2>Saalplan</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let performance of performances" >
      <mat-expansion-panel-header>
        Aufführung im <b>&nbsp;{{performance.location.description}}&nbsp;</b> <tl-timestamp [timestamp]="performance.dateTime"></tl-timestamp>
      </mat-expansion-panel-header>
      <tl-seatplan [seatmap]="getSeatmap(performance)"
                   [postfixId]="performance.id.toString()"
                   (selectedSeatsChanged)="selectedSeatsChanged(performance,$event)"
                   (selectedStandingAreaChanged)="selectedStandingAreasChanged(performance,$event)"
      ></tl-seatplan>
      <div>
        <ul>
          <li *ngFor="let seat of formatSeats(performance)">{{ seat }}</li>
          <li *ngFor="let standing of formatStanding(performance)">{{ standing }}</li>
        </ul>
      </div>
      <span *ngIf="isUserLoggedIn()">
        <button mat-raised-button (click)="buyTicket(false, performance)">Kaufen</button>
        <button mat-raised-button (click)="buyTicket(true, performance)">Reservieren</button>
      </span>
      <span *ngIf="!isUserLoggedIn()">
        Bitte melden Sie sich an um Tickets zu Kaufen oder zu Reservieren
      </span>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-spinner *ngIf="!event && !errorMsg"></mat-spinner>
<div class="error-msg" *ngIf="errorMsg">
  <h1>{{ errorMsg }}</h1>
</div>
