mat-card {margin-bottom: 1rem}
mat-form-field {margin-right: 2rem}
.artists {
  background-color: #ffffff;
  margin-top: 5em;
  padding: 5em;
}
.mat-h3 {
margin: 30px 0 30px 0;
color: #7e7e7e;
}

