mat-card {
  margin-bottom: 1rem;
  cursor: pointer;
}
mat-form-field {margin-right: 2rem}
.new-event-button {
  margin-bottom: 5px;
}
mat-select {
  margin-right: 2rem;
  display: inline-block;
}

.ranked {
  display: flex;
  mat-card {
    width:95%;
  }
  span {
    width: 5%;
    height: 100%;
  }
}
