<mat-card>
<div class="results">
  <p *ngIf="news"><b>{{totalAmountOfNews}} News gefunden</b></p>
  <mat-slide-toggle
    color="primary"
    [(ngModel)]="alsoShowReadNews"
    (change)="onShowReadNewsToggleSwitch()">
    Gelesene anzeigen
  </mat-slide-toggle>
  <button *ngIf="isAdmin()" routerLink="/news/addNews" type="button" mat-stroked-button color="primary">News hinzufügen</button>
</div>
</mat-card>

<mat-card *ngFor="let newsEntry of news" [routerLink]="['/news', newsEntry.id]">
  <mat-card-title>{{newsEntry.title}}</mat-card-title>
  <mat-card-content>
    <p>{{newsEntry.summary}}</p>
    <p><mat-icon>history</mat-icon><tl-timestamp [timestamp]="newsEntry.publishedAt"></tl-timestamp></p>
    <p><mat-icon>perm_identity</mat-icon>von {{newsEntry.author}}</p>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="totalAmountOfNews"
               [pageSize]="NEWS_LIST_PAGE_SIZE"
               [pageSizeOptions]="[NEWS_LIST_PAGE_SIZE]"
               (page)="onPaginationChange($event)">
</mat-paginator>
