mat-grid-tile {
  background-color: lightblue;
}
mat-spinner {
  margin: 5em auto;
}

form {
  .field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    * {
      flex: 1 1 auto;
    }
    mat-form-field {
      margin: 3em;
    }
  }
}

.remove-user-btn {
  margin-top: 1em;
}
