.details {
  background-color: #ffffff;
  margin-top: 5em;
  padding: 5em;
}

mat-grid-tile {
  background-color: lightblue;
}
mat-spinner {
  margin: 5em auto;
}

.error-msg {
  margin-top: 5em;
  text-align: center;
}

form {
  .input-group {
    display: flex;
    justify-content: space-between;
    * {
      flex: 1 1 auto;
    }
    mat-form-field {
      margin: 3em;
    }
  }
}
